<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/products']"><mat-icon>list</mat-icon></a>
</div>
<form [formGroup]="productForm" (ngSubmit)="onFormSubmit(productForm.value)">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="IDProduto" formControlName="produto_id"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!productForm.get('produto_id').valid && productForm.get('produto_id').touched">Please enter IDProduto</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="NroSerie" formControlName="nro_serie"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!productForm.get('nro_serie').valid && productForm.get('nro_serie').touched">Please enter Product NroSerie</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="NroContrato" formControlName="nro_contrato"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!productForm.get('nro_contrato').valid && productForm.get('nro_contrato').touched">Please enter Product NroContrato</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input type="date" matInput placeholder="TerminoVigencia" formControlName="termino_vigencia"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!productForm.get('termino_vigencia').valid && productForm.get('termino_vigencia').touched">Please enter Product TerminoVigencia</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Suporte" formControlName="suporte"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!productForm.get('suporte').valid && productForm.get('suporte').touched">Please enter Suporte</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="SuporteFornecedor" formControlName="suporte_fornecedor"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!productForm.get('suporte_fornecedor').valid && productForm.get('suporte_fornecedor').touched">Please enter SuporteFornecedor</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="VersaoSoftware" formControlName="versao_software"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!productForm.get('versao_software').valid && productForm.get('versao_software').touched">Please enter VersaoSoftware</span>
    </mat-error>
  </mat-form-field>
  <div class="button-row">
    <button type="submit" [disabled]="!productForm.valid" mat-raised-button color="primary"><mat-icon>save</mat-icon></button>
  </div>
</form>
