<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/products']"><mat-icon>list</mat-icon></a>
</div>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><h2>{{product.produto_id}}</h2></mat-card-title>
    <mat-card-subtitle>{{product.nro_serie}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt>Numero de Contrato:</dt>
      <dd>{{product.nro_contrato}}</dd>
      <dt>Termino de Vigencia:</dt>
      <dd>{{product.termino_vigencia | date}}</dd>
      <dt>Suporte:</dt>
      <dd>{{product.suporte}}</dd>
      <dt>Suporte Fornecedor:</dt>
      <dd>{{product.suporte_fornecedor}}</dd>
      <dt>Versao de Software:</dt>
      <dd>{{product.versao_software}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" [routerLink]="['/product-edit', product._id]"><mat-icon>edit</mat-icon></a>
    <a mat-raised-button color="warn" (click)="deleteProduct(product._id)"><mat-icon>delete</mat-icon></a>
  </mat-card-actions>
</mat-card>
