<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/products']"><mat-icon>list</mat-icon></a>
</div>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><h2>ID: {{ product.produto_id }}</h2></mat-card-title>
    <mat-card-subtitle>Nro de Serie: {{ product.nro_serie }}</mat-card-subtitle>
    <mat-card-subtitle>Fabricante: {{ product.fabricante }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt >Modalidade de Suporte:</dt>
      <dd>{{product.suporte_modalidade}}</dd>
      <dt>Fornecedor Suporte:</dt>
      <dd>{{product.suporte_fornecedor}}</dd>
      <dt>Data end Suport:</dt>
      <dd>{{product.data_end_suport}}</dd>
      <dt>Versao de Software:</dt>
      <dd>{{product.versao_software}}</dd>
      <dt>Descrição Vigencia:</dt>
      <dd>{{product.vigencia}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" [routerLink]="['/product-edit', product._id]"><mat-icon>edit</mat-icon></a>
    <a mat-raised-button color="warn" (click)="deleteProduct(product._id)"><mat-icon>delete</mat-icon></a>
  </mat-card-actions>
</mat-card>

