<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/product-create']"><mat-icon>add</mat-icon></a>
</div>

<p-table #dt [columns]="cols" [value]="products" [paginator]="true" [rows]="15">
    <ng-template pTemplate="caption">
      <div style="text-align: right">        
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of cols">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData" >
            <td *ngFor="let col of cols">
                    {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>

<p-chart type="pie" [data]="data"></p-chart>
